#container{
  height: 300px;
  width: 80%;
  background-color: rgb(24, 220, 220);
  margin: 10px auto;
  display: flex;
  /* flex-direction: row;
  justify-content: space-around; */
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: centre;



}
#orange{
    flex-basis: 30px;

}

h1{
    text-align: centre;
}

#container div{
    height: 100px;
    width: 300px;
    font-size:1.5em;
    text-align: centre;
    color: white;
}
   